<ul id="profile-{{id}}" data-template="profile-tpl" class="list">
    <li><a href="{{html_url}}"><img src="http://www.gravatar.com/avatar/{{gravatar_id}}?size=92" /></a> {{name}} ({{login}})<small>{{location}}</small></li>
    <li>
        <ul>
            <li><span class="icon files"></span>{{public_repos}} public repos, {{public_gists}} public gists</li>
            <li><span class="icon user"></span>{{following}} following, {{followers}} followers</li>
            <li><span class="icon pencil"></span><a href="{{blog}}">{{blog}}</a></li>        
        </ul>
    </li>        
</ul>